    :root {
        --bkg-page-clr: #f0eae4ff;
        --bkg-container-clr: #f7e8c8ff;
        --border-clr: #fdbf8cff;
        --clr-pop: #fdbf8cff;
        --clr-dark: #5a4d4d;
        --clr-good: limegreen;
        --navHeight: 5vh;
    }

    * {
        box-sizing: border-box;
    }

    html,
    body {
        height: 100%;
        margin: 0;
    }

    body {
        font-family: Arial, sans-serif;
        background-color: var(--bkg-page-clr);
        display: flex;
        justify-content: center;
        align-items: flex-start;
        min-height: 100vh;
        overflow: hidden;
    }

    .main-container>form {
        border-radius: 20px;
        background-color: var(--bkg-container-clr);
        padding: 30px;
        border: solid 3px var(--border-clr);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 400px;
        margin: 10vh auto 5vh auto;
        display: flex;
        flex-direction: column;
    }

    .main-container .bar {
        display: flex;
        flex-direction: row !important;
        justify-content: center;
    }

    h1 {
        text-align: center;
        color: #333;
        margin: 0 auto 20px auto;
        max-width: 80%;
    }

    .main-container {
        height: 100dvh;
    }

    .data-container,
    .home-container,
    .card-container,
    .library-container,
    .dashboard,
    .stat-container {
        width: 80vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1vw;
    }

    .card-container {
        justify-content: center;
        padding: 5px !important;
    }

    .card form {
        margin: 0 !important;
        padding: 0 !important;
    }

    .card:hover {
        transform: scale(1.05);
        filter: saturate(50%);
    }

    .card {
        background-color: sandybrown;
        width: fit-content;
        max-width: 30%;
        min-width: 25%;
        border-radius: 20px;
        padding: 10px 20px;
        min-height: fit-content;
    }

    .home-container {
        overflow: hidden auto;
        max-height: 60%;
        padding: 0 1dvw;
        align-items: flex-start;
        align-content: flex-start;
        scrollbar-width: none;
        flex-wrap: nowrap;
        flex-direction: column !important;
    }

    .home-container h4 {
        margin: 0;
    }

    .home-container .card {
        background-color: sandybrown;
        width: fit-content;
        max-width: 30%;
        border-radius: 20px;
        padding: 10px 20px;
        max-height: fit-content;
    }

    .home-container .card:hover {
        transform: scale(1.05);
        filter: saturate(50%);
    }

    .inbox-container {
        margin: 10vh auto;
        padding: 10vw;
        width: 60%;
        height: 80%;
        border-radius: 8px;
        background-color: white;
    }

    .charity-container,
    .faq-container {
        height: 100%;
        width: 80%;
    }

    .charity-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2vw;
        padding: 10vh 0;
    }

    .charity-container .card {
        background-color: sandybrown;
        border-radius: 8px;
        width: 30dvw;
        height: fit-content;
        padding: 1dvh;
    }
    .dashboard-top {display: flex; flex-direction: row; gap:2vw; }
    .dashboard-top .profile-container {
        background-color: var(--clr-dark);
        border-radius: 10px;
        padding: 5vw;
        display:flex;
        flex-direction:column;
        min-height:50dvh;
        justify-content:space-between;
    } .profile-container a {
        text-decoration: none;
        background-color: white;
        border-radius: 8px;
        padding: .1dvh .2dvw;
        display: block;
        width: 100%;
        text-align: center;
        margin: 5px 0;
    } .profile-container form{ display: flex; justify-content: space-between; }
    .profile-container button {
        text-decoration: none;
        background-color: white;
        border-radius: 8px;
        padding: .1dvh .2dvw;
        border: none;
    }
    .dashboard-top .work-stats {
            background-color: var(--clr-dark);
            border-radius: 10px;
            padding: 5vw;
            color: white;
    }
    .card-footer {
        justify-content: center;
        display: flex;
        flex-direction: row;
    }

    .card button[type="submit"] {
        background-color: white;
        border-radius: 8px;
        border: none;
        padding: 8px;
    }

    .card button[type="submit"]:hover {
        box-shadow: 2px 2px 2px black;
    }

    .navbar {
        position: fixed;
        background-color: var(--bkg-container-clr);
        top: 0;
        width: 100%;
        height: var(--navHeight);
        border-radius: 0 0 8px 4px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .navbar div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        justify-content: normal;
        height: 70%;
        padding: 0 10px;
    }

    .navbar a {
        display: flex;
        text-align: center;
        align-items: center;
        padding: 0 1vw;
        border-radius: 8px;
        color: white;
        cursor: pointer;
        height: 100%;
    }

    .navbar a:hover {
        filter: grayscale(50%);
    }

    .navbar #login {
        background-color: var(--clr-pop);
    }

    .navbar #signup {
        background-color: var(--clr-good);
    }

    .navbar #hamburger {
        font-size: 40px;
        color: var(--clr-pop);
    }

    .search-form input[type="text"] {
        flex-grow: 1;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 8px 0 0 8px;
        font-size: 16px;
    }

    .search-form button {
        padding: 10px 15px;
        background-color: limegreen;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 0 4px 4px 0;
        font-size: 16px;
    }

    body:has(dialog:modal) {
        overflow: hidden;
    }

    dialog#sidebarFeatures {
        margin: 0 !important;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        min-width: 12vw;
        box-sizing: content-box;
    }

    .sidebar form>a {
        padding: 5px;
        text-decoration: none;
        text-align: center;
        background-color: var(--border-clr);
        border-radius: 5px;
        color: white;
    }
    .sidebar .btn-4 {background-color: var(--clr-dark);}
    .sidebar .btn-3 {background-color: salmon}
    .sidebar .btn-2 {background-color: sandybrown;}
    .sidebar .btn-2 {background-color: var(--clr-pop);}
    .sidebar h3 a {
        font-family: 'lucida handwriting';
        display: block;
        text-decoration: none;
        text-align: left;
    }

    .sidebar h3 a::after {
        content: "Publishing";
        display: block;
        text-align: right;
    }

    .sidebar .separator {
        color: darkslategrey;
        text-align: center !important;
        white-space: nowrap;
    }

    .sidebar .separator hr, .separator hr {
        display: inline-flex;
        width: 45%;
    }

    .sidebar form {
        display: flex;
        flex-direction: column;
        margin: 20px auto;
        gap: 1vh;
    }
    .viewer{max-width: 100%;  min-width: 65%;}
    .viewer:has(pre) { overflow-y: scroll;width:100%;background-color: lightgrey; border-radius: 8px; padding: 1vw;}
    .viewer .text-viewer, .viewer:has(iframe) iframe {width: 100%;  height: 100%;}
    .viewer pre { overflow: hidden !important; height: fit-content; scrollbar-width: none;}
    .chatbox { height: 100%;max-width: 100%;  min-width: 25%;}
    .chatbox input{ background-color: wheat; width:100%; border-radius: 8px; border: none;}
    .chatbubble {
        padding: 5px;
        font-size: 12px;
        display:flex;
        flex-direction:row;
        justify-content: center;
        position: relative;
        gap: 5px;
        transition: opacity 0.5s ease, height 0.5s ease, margin 0.5s ease, padding 0.5s ease;
        opacity: 1;
    }
    .chatbubble.hidden {
        opacity: 0;
        height: 0;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }.chatbubble sup {text-align: right; color: gray;
    }.chatbubble button:hover { color: red;
    }.chatbubble button { background-color: transparent; border: none;
    }.chatbubble p {padding: 5px; background-color: salmon; border-radius: 8px; margin: 0;
    }.chatbubble div {max-width:80%;}
    /*.chatbubble form { position: absolute; top: 5px; right: 15px;
    }*/
    .chat-viewer {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: space-between;
    }.chat-viewer .text-info {
        padding: 5px 15px;
        border-radius: 8px;
        background-color: var(--clr-dark);
        color: white;
    }

    .chat-history {
        background-color: wheat;
        border-radius: 8px;
        overflow-y: scroll;
        scrollbar-width: none;
    }

    ::backdrop {
        backdrop-filter: blur(2px);
        background: hsl(0 0 0 / 30%);
    }